a {
	color: #444444;
	TEXT-DECORATION: none;
}

A:HOVER {
	color: #BB4200;
	TEXT-DECORATION: underline;
}

.favMenu {
	CURSOR: hand;
	FONT: menu;
}

img {border ="0"
	
}

input.yellow {
	color: #FFB900;
	background-color: #EBEBEB;
	border: 1 solid #FFB900;
}

td {
	FONT-SIZE: 9pt;
}

.font {
	color: #E7F0F8;
}

BODY {
	color: #444444;
	font: 9pt ו, MS Song;
	background-color: #E7E7E8;
	background-repeat: repeat;
	background-attachment: fixed;
	borderlight-color: #ffffff;
	scrollbar-darkShadow-color: #ACACAC;
	scrollbar-3d-light-color: #8E8E8E;
	scrollbar-arrow-color: #4D779D;
	scrollbar-base-color: #E2F3FA;
	scrollbar-face-color: #EBF3F8;
	scrollbar-highlight-color: #DDE0E1;
	scrollbar-shadow-color: #F2FAFB;
	scrollbar-track-color: #EBEFF1
}

TD.back {
	height: 480;
	text-align: center;
	background-image: url("../images/dise1.jpg");
}

.button {
	height: 20;
	width: 48;
	text-align: center;
	background-image: url("../images/login/button.gif");
	border: 0 solid transparent;
}


.bq {
	height: 24;
	width: 50;
	text-align: center;
	background-image: url("../images/login/bq_bk.gif");
}

TD.back1 {
	height: 24;
	text-align: right;
	background-color: #194990;
}

TD.back2 {
	height: 24;
	width: 700;
	background-color: #0053B1;
}