body, p, td, input { font-size: 10pt; color: #000000 }
p {
	color: #000000; font-size: 10pt
}
table{
	border-collapse: collapse;
	border-color=#C0C0C0;
	border-color-dark=#ffffff;
	border-color-light=#000000;	
}
TH{
	background-color:#efefef;font-size:10pt;font-weight:bold;
}
TD{
	COLOR: #000000; FONT-SIZE: 10pt
}

INPUT {
	COLOR: #000000; FONT-SIZE: 10pt; 
}
a:link {
	color: #000000;
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px;
	padding-top: 0px; text-decoration: none
}
a:active { text-decoration: none; font-size: 10pt; color: #000000 }
a:visited { color: #000000; text-decoration: none; font-size 10pt }
a:hover  { text-decoration: underline; font-size: 10pt; color: #000000 }

a.toolbar:active { text-decoration: none; font-size: 10pt; color: #000000 }
a.toolbar:visited { color: #000000; text-decoration: none; font-size 10pt }
a.toolbar:hover  { text-decoration: underline; font-size: 10pt; color: #000000 }

A.toolbar:link {
	COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.inputnormal {
	/*BACKGROUND-COLOR: #f1f1f1;BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid;  TEXT-ALIGN: center*/
}
.inputedit {
	/*BACKGROUND-COLOR: #cddeed; BORDER-BOTTOM: #6699cc 1px solid; BORDER-LEFT: #6699cc 1px solid; BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid*/
}
.areanormal {
	/*BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid*/
}
BODY{
	font-size: 12px;
	color: #000033;
	background-color: #CBCCCE;
/*	background-attachment: fixed;*/
/*	background-image: url("pub_bg.gif"); */
/*	background-repeat: no-repeat;*/
/*	background-position: right bottom;*/
	scrollbar-base-color: color;
	scrollbar-track-color: #afafb0;/*轨道色*/
	scrollbar-face-color: #8b97bc;/*面板色*/
	scrollbar-highlight-color: #e7e7e7;/*立体部分内边框颜色(上/左)*/
	scrollbar-shadow-color: #e7e7e7;/*立体部分内边框颜色(下/右)*/
	scrollbar-3dlight-color: #000000;/*立体部分外边框颜色(上/左)*/
	scrollbar-darkshadow-color: #000000;/*立体部分外边框颜色(下/右)*/
	scrollbar-arrow-color: #000000;/*箭头颜色*/
	font-family: "宋体";
	BORDER-LEFT: #000000 solid 1px;
}

.iform { color: #000000; background: #cccc99; font-weight: normal; }
.iformShow { color: #000000; background: #eeeeff; font-weight: normal; }
.bd{
	  BORDER-BOTTOM: #619ccf 1px solid;BORDER-TOP: #619ccf 1px solid;
	  BORDER-LEFT: #619ccf 1px solid; BORDER-RIGHT: #619ccf 1px solid
	  }
.overpic{ cursor: hand; }
.lmtlayer{ background: #999966 }